.event-form {
  max-width: 600px;
  margin: 0 auto;

  .buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .dates {
    display: flex;
    justify-content: space-around;
  }
}